html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0 auto;
  overflow-x: hidden;
}

html.lock {
  overflow: hidden;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  max-width: 1100px;
  width: 93.75%;
  margin: 0 auto;
}

.header {
  padding: 20px 0;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 0.06em;
  color: #545454;
}

.nav {
  display: flex;
  list-style: none;
  gap: 36px;
}

.nav__link {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #545454;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.start-screen__img {
  display: block;
  margin: 0 auto;
}

.about, .reviews {
  padding: 30px 0;
  background-color: #F6F6F6;
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

h2 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
}

p {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
}

.rooms__block {
  display: flex;
  justify-content: space-between;
  margin: 30px 20px;
  padding-right: 20px;
  border: 2px solid #ededed;
  border-radius: 3px;
}

.rooms__content {
  width: 60%;
  text-align: justify;
}

h3 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  /* color: #545454; */
}

.rooms__buttons {
  display: flex;
  gap: 30px;
}

.button {
  width: 190px;
  height: 48px;
  background: #F1CDB3;
  border: none;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: #292929;
  border-radius: 100px;
  cursor: pointer;
}

.reviews__container {
  display: flex;
  justify-content: space-around;
}

.reviews__block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  padding: 20px;
  background-color: #FAFAFA;
  border-radius: 15px;;
  text-align: justify;
}

.mark {
  position: absolute;
  top: -30px;
  right: 0;
  padding: 10px;
  background-color: blue;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  color: #ffffff;
  font-size: 30px;
}

.contacts {
  padding-bottom: 20px;
}

.contacts__container {
  display: flex;
  justify-content: space-around;
}

.contacts__container__phone {
  display: flex;
  align-items: center;
  gap: 5px;
}

.contacts__container a {
  display: block;
  width: fit-content;
}

.phone::before {
  content: '';
  position: absolute;
  background-image: url(assets/icons/phone.png);
  width: 50px;
  height: 50px;
  left: 0px;
  top: 10px;
}

.messengers {
  /* position: relative;
  top: 6px;
  left: 5px; */
  /* margin-right: 5px; */
  border-radius: 4px;
}

.email::before {
  content: '';
  position: absolute;
  background-image: url(assets/icons/email.png);
  width: 50px;
  height: 50px;
  left: 0px;
  top: 10px;
}

.address::before {
  content: '';
  position: absolute;
  background-image: url(assets/icons/location.png);
  width: 50px;
  height: 50px;
  left: 0px;
  top: 10px;
}

.contacts__item {
  position: relative;
  width: fit-content;
  padding: 20px 0 20px 60px;
  margin: 0;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: black;
}

.pop-up {
  display: none;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(41, 41, 41, 0.6);
  overflow-y: auto;
}

.pop-up.active {
  display: flex;
}

.pop-up__wrapper {
  width: 70.3%;
  min-width: 800px;
  max-height: 90%;
  margin: auto;
  padding: 30px;
  height: fit-content;
  background-color: #fafafa;
  border-radius: 10px;
  position: relative;
}

.pop-up__main-part {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.pop-up__main-img {
  max-width: 90%;
  max-height: 90vh;
}

.pop-up__button {
  position: absolute;
  top: 50%;
  width: 32px;
  height: 32px;
  margin-top: -16px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0px;
  outline: 0px;
  filter: invert(100%);
  cursor: pointer;
}

.pop-up__button_left {
  left: 20px;
  background-image: url(assets/icons/slider-prev.svg);
}

.pop-up__button_right {
  right: 20px;
  background-image: url(assets/icons/slider-next.svg);
}

.pop-up__small-img {
  display: none;
}

.pop-up__small-img > img {
  width: 15%;
  object-fit: cover;
}

.pop-up__button_close {
  position: absolute;
  right: 0;
  top: 16px;
  font-size: 30px;
  color: white;
}