html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0 auto;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1100px;
  width: 93.75%;
  margin: 0 auto;
}

.header {
  padding: 30px 0;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 0.06em;
  color: #545454;
}

.nav {
  display: flex;
  list-style: none;
  gap: 36px;
}

.nav__link {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #545454;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.about, .reviews {
  padding: 30px 0;
  background-color: #F6F6F6;
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

h2 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
}

p {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
}

.rooms__block {
  display: flex;
  justify-content: space-between;
  margin: 30px 20px;
  padding-right: 20px;
  border: 2px solid #ededed;
  border-radius: 3px;
}

.rooms__content {
  width: 60%;
  text-align: justify;
}

h3 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  /* color: #545454; */
}

.reviews__container {
  display: flex;
  justify-content: space-around;
}

.reviews__block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  padding: 20px;
  background-color: #FAFAFA;
  border-radius: 15px;;
  text-align: justify;
}

.mark {
  position: absolute;
  top: -30px;
  right: 0;
  padding: 10px;
  background-color: blue;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  color: #ffffff;
  font-size: 30px;
}